@define-color bg-color #2F343B;
@define-color inset-color #D8DFE7;
@define-color outset-color #272C33;

GtkWindow {
	background-color: @bg-color;
}
GtkEntry,
GtkButton {
	font-size: 1.3em;
	border-radius: 2px;
	border: none;
	padding: 5px;
}
GtkEntry {
	background-color: @inset-color;
	color: @bg-color;
}
/* Button Default */
GtkButton {
	background-color: @outset-color;
	transition: .2s background-color;
}
GtkButton GtkLabel {
	background-color: transparent;
	color: @inset-color;
}
/* Button Hover */
GtkButton:selected {
	background-color: lighter(@outset-color);
}
/* Button Disabled */
GtkButton:insensitive {
	background-color: alpha(@outset-color, 0.35);
}
GtkButton:insensitive GtkLabel {
	color: #818e9e;
}
/* Label at bottom */
NectarWidgetLoginPage GtkBox > GtkLabel {
	color: #b8bfc7;
}
NectarWidgetPrefsBar GtkButton {
	margin: 3px;
	padding: 0;
}
