NectarWidgetAppWindow {
	background-color: #2f343b;
}
NectarWidgetLoginPage GtkEntry,
NectarWidgetLoginPage GtkButton {
	font-size: 1.3em;
	border-radius: 2px;
	border: none;
	padding: 5px;
}
NectarWidgetLoginPage GtkEntry {
	background-color: #d8dfe7;
	color: #2f343b;
}
/* Sensitive Button */
NectarWidgetLoginPage GtkButton {
	background-color: #272c33;
	transition: .3s background-color;
}
NectarWidgetLoginPage GtkButton GtkLabel {
	background-color: transparent;
	color: #d8dfe7;
}
/* Insensitive Button */
NectarWidgetLoginPage GtkButton:insensitive {
	background-color: #2c323c;
}
NectarWidgetLoginPage GtkButton:insensitive GtkLabel {
	color: #818e9e;
}
/* Label at bottom */
NectarWidgetLoginPage GtkBox > GtkLabel {
	color: #b8bfc7;
}
